@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (min-width:768px) {
    #container {
        padding: 2rem;
    }
    #title {
        width: 10rem;
        height: 5rem;
        margin-left: 2rem;
    }
    #loginPage {
        width: 30rem;
        margin-top: 6rem;
    }
    
}